#root {
  max-width: 850px;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

.SkillsContainer {
  width: 50%;
}

.Skills {
  background-color: #eee;
}

.SkillsChart {
  margin: 10px;
}

.SkillsChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.map-container, .map-container div {
  width: 300px !important;
  height: 150px !important;
}

.map-container {
  margin: 10px auto;
}
