#root, .App {
  max-width: 850px;
  margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

h3, h4 {
  margin: 5px 0;
}

.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #335;
  color: white;
  padding: 10px 10%;
}

.Header a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0;
}

.nav-bar li {
  width: 25%;
}

.ContactCard , .nav-bar{
  max-width: 350px;
  margin: 10px 0;
  width: 40%;
}

.SkillsContainer {
  width: 50%;
}

.Skills {
  background-color: #eee;
}

.SkillsChart {
  margin: 10px;
}

.SkillsChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.EducationCard, .ExperienceCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #EEE;
  padding: 10px 20px;
  margin: 0 10px 10px;
}

.schoolDetails, .experienceDetails {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 10px 0;
  opacity: .5;
}
.ExperienceCard h3,
.EducationCard h3,
.ExperienceCard p,
.EducationCard p {
  margin: 5px;
}

.contributions {
  width: 65%;
}

.contributions li {
  margin: 10px auto;
}

.map-container, .map-container div {
  width: 150px !important;
  height: 150px !important;
}

.map-container {
  margin: auto;
}
